{
  "env": {
    "mocha": true
  },
  "extends": "ericgio",
  "globals": {},
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "react"
  ],
  "rules": {
    "flowtype/define-flow-type": 1,
    "no-unused-vars": [2, {"args": "none", "ignoreRestSiblings": true}]
  }
}
