body {
  font: 13px sans-serif;
  margin: 20px;
  padding: 0;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 150px;
}

.column {
  display: block;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 10px;
  position: relative;
}

.section {
  margin-bottom: 30px;
}

.section h2 {
  font-size: 24px;
  margin: 0 0 10px;
}

.section pre {
  background-color: #fafafa;
  border-color: #eee;
  border-radius: 0 0 4px 4px;
  border-style: solid;
  border-width: 1px 0 0 0;
  margin: 0;
  padding: 15px 18px;
}

.frame {
  border: solid 1px #eee;
  border-radius: 5px;
  overflow: scroll;
  position: relative;
}

.chart {
  font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.candlestick line {
  stroke: #000;
}

.gain line {
  stroke: green;
}
.gain rect {
  fill: green;
}

.loss line {
  stroke: red;
}
.loss rect {
  fill: red;
}
