body {
  font: 13px sans-serif;
  margin: 20px;
  padding: 0;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 150px;
}

.column {
  display: block;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 10px;
  position: relative;
}

.section {
  margin-bottom: 30px;
}

.section h2 {
  font-size: 24px;
  margin: 0 0 10px;
}

.frame {
  border: solid 1px #eee;
  border-bottom: solid 1px #ccc;
  position: relative;
}

.chart {
  font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
